# .pylintrc
[MASTER]
load-plugins=pylint_actions
source-roots=src
generated-members=
    numpy.*,
    cv2.*,
    skimage.transform.AffineTransform,
    skimage.transform.warp

disable=
    line-too-long,
    missing-module-docstring,
    missing-function-docstring,
    wrong-import-order,
    fixme,
    broad-exception-caught, 
    too-many-arguments,
    too-many-positional-arguments,
    too-many-local-variables

    
ignored-modules=skimage.transform