# .pylintrc
[MASTER]
load-plugins=pylint_actions
source-roots=src
generated-members=
    numpy.*,
    cv2.*,
    skimage.transform.AffineTransform,
    skimage.transform.warp

ignored-modules=skimage.transform